<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link  rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Password Management System</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add-new-category">Add New Category</a></li>
              <li><a href="/password-category">View All Category</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add-new-password">Add New Password</a></li>
              <li><a href="/view-all-password">View All Password</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header" style="float:right;">
          <a class="navbar-brand" href="/">LoggedIn user as : <%if(loginUser!='')%><%= loginUser %></a>
        </div>
      </div>
    </nav>
   <form class="modal-content" action="/action_page.php" method="post">
    <div class="imgcontainer">
     
    
    </div>

    <div class="container" id="addNewPassBox">
     <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Password Details
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">GoDaddy</a></li>
          <li><a href="#">Cpanel</a></li>
        </ul>
      </div>
      <textarea type="text" placeholder="Enter Your Password Details" name="pswDetail" required></textarea>

      <button type="submit">Add Password</button>
     
    </div>

   
  </form>
  </body>
</html>
