<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link  rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Password Management System</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add-new-category">Add New Category</a></li>
              <li><a href="/password-category">View All Category</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/add-new-password">Add New Password</a></li>
              <li><a href="/view-all-password">View All Password</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header" style="float:right;">
          <a class="navbar-brand" href="/">LoggedIn user as : <%if(loginUser!='')%><%= loginUser %></a>
        </div>
      </div>
    </nav>
   <form class="modal-content animate" action="/add-new-category" method="post">
    <div class="imgcontainer">
      <p>Add New Password Category</p>
      <%if(error != '') {%>
        <p class="alert alert-danger"><%=error%></p>
      <%}%>
      <%if(success != '') {%>
        <p class="alert alert-success"><%=success%></p>
      <%}%>
    </div>
    <div class="container" id="loginBox">
      <label for="passwordCategory"><b>Category Name</b></label>
      <input type="text" placeholder="Enter Password Category Name" name="passwordCategory">

      <button type="submit">Add Category</button>
      <label>
        <a href="/password-category">View All Category List</a>
      </label>
    </div>
  </body>
</html>
 