<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h2 class="text-center">Password Management System</h2>
  <form class="modal-content animate" action="/" method="post">
    <div class="imgcontainer">
     
      <p>Login</p>
      <% if(msg != '') { %>
      <p class="alert alert-danger">
        <%= msg %>
        </p>
      <% } %>
      
    </div>

    <div class="container" id="loginBox">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <p>If you don't have an acount <a href="/signup">Create New Account</a></p>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

  </body>
</html>
