<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
  <form class="modal-content animate" action="/signup" method="post">
    <div class="imgcontainer">
      <p>Sign Up</p>
      <% if(msg != '') { %>
      <p class="alert alert-danger">
        <%= msg %>
        <% } %>
      </p>
    </div>

    <div class="container " id="signupBox">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <label for="confirmpsw"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="confirmpsw" required>
      
      <button type="submit">Signup</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <p>If you have an acount <a href="/">Login Here</a></p>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

  </body>
</html>
